{% extends "layout/base.html" %} {% set active_page = "metrics" %}{% block title %}Metrics{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/daterangepicker.css') }}"> {% endblock %} {% block body %}
<h1>Metrics</h1>
<div class="row toolbar-pf">
    <div class="col-sm-12">
        <form class="toolbar-pf-actions" method="post" action="{{ config[" APPLICATION_ROOT "] }}/metrics/" role="form">
            <div class="form-group">
                <button class="btn btn-primary" type="button">Refresh</button>
                <div class="dropdown btn-group">
                    <button type="button" name="activity" id="activity" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Activity <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% for a in activities %}
                        <li><a href="#" class="metrics-activity">{{ a }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- /dropdown btn-group -->
            </div>
            <!-- /form-group -->
            <div class="form-group toolbar-pf-filter">
                <label class="sr-only" for="filter">Keys</label>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" name="filter_key" id="filter_key" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Keys <span class="caret"></span></button>
                        <ul id="ul_filter_key" class="dropdown-menu">
                        </ul>
                    </div>
                    <!-- /input-group-btn -->
                    <div class="input-group-btn">
                        <button type="button" name="filter_operator" id="filter_operator" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operator <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">==</a></li>
                            <li><a href="#">!=</a></li>
                            <li><a href="#">is</a></li>
                            <li><a href="#">is not</a></li>
                            <li><a href="#">&gt;=</a></li>
                            <li><a href="#">&gt;</a></li>
                            <li><a href="#">&lt;=</a></li>
                            <li><a href="#">&lt;</a></li>
                        </ul>
                    </div>
                    <!-- /btn-group -->
                    <input type="text" name="filter_value" id="filter_value" class="form-control" id="filter" placeholder="Key Value">
                </div>
                <!-- /input-group -->
            </div>

            <!-- /form-group toolbar-pf-filter -->
            <div class="form-group">
                <button class="btn btn-primary" type="button">Add Filter</button>
            </div>
            <div class="form-group"> <input type="text" name="daterange" id="daterange"></div>
    </div>
    <!-- /col-sm-12 -->
</div>
</form>
</div>
<!-- /row toolbar-pf -->
<div class="row toolbar-pf-results">
    <div class="col-sm-12">
        <p>Active filters:</p>
        <ul class="list-inline">
            <!--<li>
                <span class="label label-info">
                  Name: nameofthething
                  <a href="#"><span class="pficon pficon-close"></span></a>
                </span>
            </li>-->
        </ul>
        <p><a href="#">Clear All Filters</a></p>
    </div>
    <!-- /col -->
</div>
<!-- /row -->
{% endblock %} {% block javascript %}
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("body").on("click", ".metrics-activity", function(e) {
            var field = $(this);
            var key = field.html();
            var button = $("#activity")
            field.parent().parent().find("li").removeClass("selected");
            field.parent().addClass("selected");
            button.html(key + ' <span class="caret"></span>');
            button.data("activity", key)
            console.log($("activity"))
            $.ajax({
                url: '{{ url_for("metrics.get_keys", report_id=report.id) }}?activity=' + key,
                dataType: "json",
                async: true,
                success: function(data) {
                    $("#ul_filter_key").html('')
                    $.each(data, function(i, item) {
                        $("#ul_filter_key").append('<li><a href="#" class="metric-keys">' + item + '</a></li>')
                    })

                }
            });

        });
        $('#daterange').daterangepicker({
            "timePicker": true,
            "timePicker24Hour": true,
            "autoApply": true,
            "locale": {
                "format": "YYYY-MM-DD HH:mm",
                "separator": "-",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Su",
                    "Mo",
                    "Tu",
                    "We",
                    "Th",
                    "Fr",
                    "Sa"
                ],
                "monthNames": [
                    "January",
                    "February",
                    "March",
                    "April",
                    "May",
                    "June",
                    "July",
                    "August",
                    "September",
                    "October",
                    "November",
                    "December"
                ],
                "firstDay": 1
            },
            "startDate": '{{ sarfiles[0]["filedate"].strftime("%Y-%m-%d") }}',
            "endDate": '{{ sarfiles[-1]["filedate"].strftime("%Y-%m-%d")  }}',
            "minDate": '{{ sarfiles[0]["filedate"].strftime("%Y-%m-%d") }}',
            "maxDate": '{{ sarfiles[-1]["filedate"].strftime("%Y-%m-%d")  }}',
            "opens": "right",
            "orientation": "left"
        }, function(start, end, label) {
            console.log("New date range selected: " + start.format('YYYY-MM-DD') + " to " + end.format('YYYY-MM-DD') + " (predefined range: " + label + ")");
        });
    });
</script>
{% endblock %}