{% extends "layout/base.html" %} 
{% set active_page = "cases" %} 
{% block title %}Cases{% endblock %} 
{% block body %} 
    {% include 'cases/modal.html' %} 
    {% if report_list is defined %}
        <div class="row toolbar-pf">
            <div class="col-sm-12">
                <form class="toolbar toolbar-pf-actions">
                    <div class="toolbar-pf-action-right">
                        <h5>{{ report_list|length}} reports</h5>
                    </div>
                    <div class="form-group toolbar-pf-filter">
                        <label class="sr-only" for="filter">Name</label>
                        <div class="input-group">
                            <input class="form-control nx-filter-text" data-type="reports" placeholder="Filter By Name..." type="search">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" 
                                        name="actions" class="btn btn-default dropdown-toggle nx-actions" 
                                                            data-toggle="dropdown" aria-haspopup="true" 
                                                                                   aria-expanded="false">
                                    Actions <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="nx-actions">Compare</a></li>
                                    <li><a href="{{ url_for('cases.yank', case = casenum, force = "True") }}">Yank</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="dropdown btn-group">
                            <button type="button" name="sort-reports" 
                                                  class="btn btn-default dropdown-toggle nx-sort-item-btn" 
                                                  data-toggle="dropdown" 
                                                  aria-haspopup="true" 
                                                  aria-expanded="false"
                                                  data-sortfield="collect-time">
                                Sort <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="nx-sort-item" 
                                                data-key="collect-time">Date</a></li>
                                <li><a href="#" class="nx-sort-item"
                                                data-key="machine-id">System UUID</a></li>
                                <li><a href="#" class="nx-sort-item"
                                                data-key="name">Server Name</a></li>
                                <li><a href="#" class="nx-sort-item"
                                                data-key="size">Size</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-link nx-sort-direction" data-direction="desc" type="button">
                            <span class="fa fa-sort-amount-desc"></span>
                        </button>
                    </div>
            </div>
        </div>
        <!-- /row -->
    {% endif %}


    <div class="list-group list-view-pf list-view-pf-view nx-list-group">
        {% for r in report_list %}
            <div class="list-group-item" data-name="{{ r['name'] }}" data-source="{{ r['source'] }}" data-collect-time="{{ r['collect_time'] }}" data-size="{{ r['size'] }}" data-machine-id="{{ r['machine_id'] }}"> 
                <div class="list-view-pf-checkbox">
                    <input type="checkbox" {% if r['source'] == 'magui' %} disabled{% endif %} data-report-id="{{ r['id'] }}">
                </div>

                <!-- /list-view-pf-checkbox -->
                <div class="list-view-pf-actions">
                    <div class="dropdown pull-right dropdown-kebab-pf">
                        <button class="btn btn-link dropdown-toggle" 
                                type="button" id="dropdownKebabRight9" 
                                              data-toggle="dropdown" aria-haspopup="true" 
                                                                     aria-expanded="true">
                            <span class="fa fa-ellipsis-v"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" 
                            aria-labelledby="dropdownKebabRight9">
                            <li><a href="{{ url_for('reports.display_checks', report_id = r['id']) }}">Checks</a></li> 
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('metrics.display_metrics', report_id = r['id']) }}">Metrics</a></li>
                            <li><a href="{{ url_for('health.display_health', report_id = r['id']) }}">Health</a></li>
                        </ul>
                    </div>
                    <!-- /dropdown -->
                </div>
                <!-- /list-view-pf-actions -->
                <div class="list-view-pf-main-info">
                    <div class="list-view-pf-left">
                        <span class="fa fa-{{ r['icon'] }} list-view-pf-icon-sm"></span>
                    </div>
                    <!-- /list-view-pf-left -->
                    <div class="list-view-pf-body" data-report-id="{{ r['id'] }}">
                        <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                                <a href="{{ url_for('reports.display_checks', report_id = r['id']) }}">{{ r['name'] }}</a>
                            </div>
                            <!-- /list-group-item-heading -->
                        </div>
                        <!-- /list-view-pf-description -->
                        <div class="list-view-pf-additional-info">
                            <div class="list-view-pf-additional-info-item">
                                <div class="list-view-pf-expand nx-view-all-checks">
                                    <span class="fa fa-calendar"></span>
                                    <strong>{{ r['collect_time'] }}</strong> Checks
                                </div>
                            </div>
                            <div class="list-view-pf-additional-info-item">
                                <div class="list-view-pf-expand nx-view-all-checks">
                                    <span class="fa fa-angle-right"></span>
                                    <span class="fa fa-cubes"></span>
                                    <strong>{{ r['checks_total'] }}</strong> Checks
                                </div>
                            </div>

                            <!-- /list-view-pf-additional-info-item -->
                            <div class="list-view-pf-additional-info-item">
                                <div class="list-view-pf-expand nx-check-count" data-type="RC_FAILED">
                                    <span class="fa fa-angle-right"></span>
                                    <span class="pficon pficon-error-circle-o"></span>
                                    <strong>{{ r['checks_fail'] }}</strong> Failed
                                </div>

                            </div>
                            <!-- /list-view-pf-additional-info-item -->
                            <div class="list-view-pf-additional-info-item">
                                <div class="list-view-pf-expand nx-check-count" data-type="RC_SKIPPED">
                                    <span class="fa fa-angle-right"></span>
                                    <span class="pficon pficon-help"></span>
                                    <strong>{{ r['checks_skip'] }}</strong> Skipped
                                </div>
                            </div>
                            <!-- /list-view-pf-additional-info-item -->
                            <div class="list-view-pf-additional-info-item">
                                <div class="list-view-pf-expand nx-check-count" data-type="RC_OKAY">
                                    <span class="fa fa-angle-right"></span>
                                    <span class="fa fa-check-circle-o"></span>
                                    <strong>{{ r['checks_okay'] }}</strong> Okay
                                </div>
                            </div>
                            <!-- /list-view-pf-additional-info-item -->
                            <div class="list-view-pf-additional-info-item">
                                <span class="fa fa-microchip"></span>
                                <strong>{{ r['source'] }}</strong>
                            </div>
                            <!-- /list-view-pf-additional-info-item -->
                            <div class="list-view-pf-additional-info-item">
                                <span class="fa fa-clock-o"></span>
                                <strong>{{ r['analyze_duration'] }}</strong>s
                            </div>
                            <!-- /list-view-pf-additional-info-item -->
                            <div class="list-view-pf-additional-info-item">
                                <span class="fa fa-hdd-o"></span>
                                <strong>{{ r['hr_size'] }}</strong>
                            </div>
                            <!-- /list-view-pf-additional-info-item -->
                            <div class="list-view-pf-additional-info-item">
                                <div class="list-view-pf-expand nx-show-metrics">
                                    <span class="fa fa-line-chart"></span>
                                    <strong>{{ r['sarfiles']|length }} days</strong>
                                </div>
                            </div>
                            <!-- /list-view-pf-additional-info-item -->
                        </div>
                        <!-- /list-view-pf-additional-info -->
                    </div>
                    <!-- /list-view-pf-body -->
                </div>
                <!-- /list-view-pf-main-info -->
            </div>
            <!-- /list-group-item -->
        {% endfor %} 
    </div>
{% endblock %} 
{% block javascript %}
     {% include "layout/toolbar.html" %}
{% endblock %}
