<!DOCTYPE html>
<!--[if IE 9]><html lang="en-us" class="ie9 login-pf"><![endif]-->
<!--[if gt IE 9]><!-->
    <html lang="en-us" class="login-pf">
    <!--<![endif]-->

    <head>
        {% include 'layout/head.html' %}
        <title>TraceBack - Nexus</title>
    </head>

    <body>
        <span id="badge">
            <img src="https://github.com/zerodayz/citellus/raw/master/doc/citellus.png" width="100px" alt="Citellus Web" />
        </span>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="brand">
                        Nexus Web Application
                    </div>
                    <!--/#brand-->
                </div>
                <!--/.col-*-->
                <div class="col-sm-7 col-md-6 col-lg-5">
                    Traceback message:
                    <pre>{{ traceback }}</pre>
                </div>
                <!--/.col-*-->

            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </body>

    </html>
